* {
  box-sizing: border-box;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }
}

.parallax_cover {
  background: #2f2322;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1500px;
  z-index: 2;
}

$parallax_layers: 8;

@for $i from 0 through $parallax_layers {
  $x: ($parallax_layers - $i) / 2;
  .parallax_layer_#{$i} {
    transform: translateZ(-106 * $x#{px}) scale($x + 1);
  }
}
