.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;

  .card {
    position: relative;
    width: 622px;
    max-height: 330px;
    background: #fff;
    padding: 30px 15px;
    display: flex;
    transition: 0.3s ease-in-out;

    .photo {
      position: relative;
      width: 24%;
      height: 330px;
      z-index: 1;

      img {
        max-height: 100%;
      }
    }

    .text {
      position: relative;
      width: 490px;
      color: #111;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s ease-in-out;
      overflow: hidden;
      a {
        text-decoration: none;
        color: #1f93b8;
      }
    }

    &:hover {
      width: 1070px;

      .text {
        visibility: visible;
        opacity: 1;
        transition-delay: 0.3s;
      }
    }
  }

  .left {
    margin: 30px 60px 30px 0;

    .photo {
      left: -55px;

      img {
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
      }
    }

    .text {
      text-align: left;
      margin-left: 200px;
    }

    &:hover {
      .text {
        margin-left: 315px;
      }
    }
  }

  .right {
    margin: 30px 0 30px 60px;
    flex-direction: row-reverse;

    .photo {
      left: 55px;
      display: flex;
      flex-direction: row-reverse;

      img {
        box-shadow: 5px 0 20px rgba(0, 0, 0, 0.5);
      }
    }

    .text {
      text-align: right;
      margin-right: 200px;
    }

    &:hover {
      .text {
        margin-right: 315px;
      }
    }
  }

  .cardbottom {
    position: relative;
    max-width: 667px;
    height: 340px;
    background: #fff;
    margin: 70px 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;

    .photo {
      position: relative;
      height: 330px;
      top: -55px;
      left: 40px;
      z-index: 1;

      img {
        max-height: 100%;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
      }
    }

    .text {
      position: relative;
      margin-top: -140px;
      padding: 10px 15px;
      text-align: center;
      color: #111;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      height: 550px;
      .text {
        visibility: visible;
        opacity: 1;
        margin-top: -60px;
        transition-delay: 0.3s;
      }
    }
  }
}
