.grille {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  padding: 40px;

  table {
    background: #1f93b8;

    tr {
      flex-wrap: wrap;
      display: flex;

      td {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin: 1px;
        background: white;

        img {
          position: absolute;
        }
      }
    }
  }

  button {
    margin-top: 40px;
  }
}
