.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.active {
    background-color: red;
  }
  .identity {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      padding-right: 10px;
      object-fit: cover;
      margin: inherit;
    }
  }
}
